<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photos by Logan Wu</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <header>
    <!-- HEADER_PLACEHOLDER -->
  </header>
  <main>
    <div id="album-viewer" class="grid-main">
      <!-- CONTENT_PLACEHOLDER -->
    </div>
  </main>
  <!-- FOOTER_PLACEHOLDER -->
<div id="lightbox">
  <img src="" alt="Fullsize image">
  <span class="close-button" onclick="closeLightbox()">&times;</span>
</div>
<script src="assets/js/script.js"></script>

</body>
</html>
